h1, p, a{
    color:rgb(26, 43, 28);
    border: 1px solid rgb(27, 41, 32);
} 

body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}